<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-GPBgL28wR2NDSqX5P8DO7_1XVl4bXNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>795919157602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatTestApp</string>
	<key>PROJECT_ID</key>
	<string>chattapp-4e696</string>
	<key>STORAGE_BUCKET</key>
	<string>chattapp-4e696.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795919157602:ios:8c34d11653d45c0566c43b</string>
</dict>
</plist>